@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    font-family: "Georama",sans-serif;
    color: #FFC100;
}